6/3/obj/3.csproj.nuget.dgspec.json
6/3/obj/3.csproj.nuget.g.props
6/3/obj/3.csproj.nuget.g.targets
6/3/obj/project.assets.json
6/3/obj/project.nuget.cache
6/3/3.csproj
6/2/2.csproj
6/2/obj/2.csproj.nuget.dgspec.json
6/2/obj/2.csproj.nuget.g.props
6/2/obj/2.csproj.nuget.g.targets
6/2/obj/project.assets.json
6/2/obj/project.nuget.cache
6/1/1.csproj
6/1/obj/1.csproj.nuget.dgspec.json
6/1/obj/1.csproj.nuget.g.props
6/1/obj/1.csproj.nuget.g.targets
6/1/obj/project.assets.json
6/1/obj/project.nuget.cache
.vs/Geekbrains_hw/v16/Browse.VC.db
.vs/Geekbrains_hw/v16/.suo
.vs/Geekbrains_hw/v16/ipch/AutoPCH/14a3396f15a84c04/GEEKBRAINS_HW.ipch
