6/3/obj/3.csproj.nuget.dgspec.json
6/3/obj/3.csproj.nuget.g.props
6/3/obj/3.csproj.nuget.g.targets
6/3/obj/project.assets.json
6/3/obj/project.nuget.cache
6/3/3.csproj
6/2/2.csproj
6/2/obj/2.csproj.nuget.dgspec.json
6/2/obj/2.csproj.nuget.g.props
6/2/obj/2.csproj.nuget.g.targets
6/2/obj/project.assets.json
6/2/obj/project.nuget.cache
6/1/1.csproj
6/1/obj/1.csproj.nuget.dgspec.json
6/1/obj/1.csproj.nuget.g.props
6/1/obj/1.csproj.nuget.g.targets
6/1/obj/project.assets.json
6/1/obj/project.nuget.cache
.vs/Geekbrains_hw/v16/Browse.VC.db
.vs/Geekbrains_hw/v16/.suo
.vs/Geekbrains_hw/v16/ipch/AutoPCH/14a3396f15a84c04/GEEKBRAINS_HW.ipch
6/1/bin/Debug/net7.0/1.deps.json
6/1/bin/Debug/net7.0/1.dll
6/1/bin/Debug/net7.0/1.exe
6/1/bin/Debug/net7.0/1.pdb
6/1/bin/Debug/net7.0/1.runtimeconfig.json
6/1/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
6/1/obj/Debug/net7.0/1.AssemblyInfo.cs
6/1/obj/Debug/net7.0/1.AssemblyInfoInputs.cache
6/1/obj/Debug/net7.0/1.assets.cache
6/1/obj/Debug/net7.0/1.csproj.AssemblyReference.cache
6/1/obj/Debug/net7.0/1.csproj.CoreCompileInputs.cache
6/1/obj/Debug/net7.0/1.csproj.FileListAbsolute.txt
6/1/obj/Debug/net7.0/1.dll
6/1/obj/Debug/net7.0/1.GeneratedMSBuildEditorConfig.editorconfig
6/1/obj/Debug/net7.0/1.genruntimeconfig.cache
6/1/obj/Debug/net7.0/1.GlobalUsings.g.cs
6/1/obj/Debug/net7.0/1.pdb
6/1/obj/Debug/net7.0/apphost.exe
6/1/obj/Debug/net7.0/ref/1.dll
6/1/obj/Debug/net7.0/refint/1.dll
6/2/bin/Debug/net7.0/2.deps.json
6/2/bin/Debug/net7.0/2.dll
6/2/bin/Debug/net7.0/2.exe
6/2/bin/Debug/net7.0/2.pdb
6/2/bin/Debug/net7.0/2.runtimeconfig.json
6/2/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
6/2/obj/Debug/net7.0/2.AssemblyInfo.cs
6/2/obj/Debug/net7.0/2.AssemblyInfoInputs.cache
6/2/obj/Debug/net7.0/2.assets.cache
6/2/obj/Debug/net7.0/2.csproj.AssemblyReference.cache
6/2/obj/Debug/net7.0/2.csproj.CoreCompileInputs.cache
6/2/obj/Debug/net7.0/2.csproj.FileListAbsolute.txt
6/2/obj/Debug/net7.0/2.dll
6/2/obj/Debug/net7.0/2.GeneratedMSBuildEditorConfig.editorconfig
6/2/obj/Debug/net7.0/2.genruntimeconfig.cache
6/2/obj/Debug/net7.0/2.GlobalUsings.g.cs
6/2/obj/Debug/net7.0/2.pdb
6/2/obj/Debug/net7.0/apphost.exe
6/2/obj/Debug/net7.0/ref/2.dll
6/2/obj/Debug/net7.0/refint/2.dll
6/3/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
6/3/obj/Debug/net7.0/3.AssemblyInfo.cs
6/3/obj/Debug/net7.0/3.AssemblyInfoInputs.cache
6/3/obj/Debug/net7.0/3.assets.cache
6/3/obj/Debug/net7.0/3.csproj.AssemblyReference.cache
6/3/obj/Debug/net7.0/3.csproj.CoreCompileInputs.cache
6/3/obj/Debug/net7.0/3.csproj.FileListAbsolute.txt
6/3/obj/Debug/net7.0/3.GeneratedMSBuildEditorConfig.editorconfig
6/3/obj/Debug/net7.0/3.GlobalUsings.g.cs
6/3/bin/Debug/net7.0/3.deps.json
6/3/bin/Debug/net7.0/3.dll
6/3/bin/Debug/net7.0/3.exe
6/3/bin/Debug/net7.0/3.pdb
6/3/bin/Debug/net7.0/3.runtimeconfig.json
6/3/obj/Debug/net7.0/3.dll
6/3/obj/Debug/net7.0/3.genruntimeconfig.cache
6/3/obj/Debug/net7.0/3.pdb
6/3/obj/Debug/net7.0/apphost.exe
6/3/obj/Debug/net7.0/ref/3.dll
6/3/obj/Debug/net7.0/refint/3.dll
.gitignore
7/1/obj/Debug/net7.0/1.AssemblyInfo.cs
7/1/obj/Debug/net7.0/1.AssemblyInfoInputs.cache
7/1/obj/Debug/net7.0/1.assets.cache
7/1/obj/Debug/net7.0/1.csproj.AssemblyReference.cache
7/1/obj/Debug/net7.0/1.csproj.CoreCompileInputs.cache
7/1/obj/Debug/net7.0/1.csproj.FileListAbsolute.txt
7/1/obj/Debug/net7.0/1.GeneratedMSBuildEditorConfig.editorconfig
7/1/obj/Debug/net7.0/1.GlobalUsings.g.cs
7/1/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
7/1/bin/Debug/net7.0/1.deps.json
7/1/bin/Debug/net7.0/1.dll
7/1/bin/Debug/net7.0/1.exe
7/1/bin/Debug/net7.0/1.pdb
7/1/bin/Debug/net7.0/1.runtimeconfig.json
7/1/obj/Debug/net7.0/1.dll
7/1/obj/Debug/net7.0/1.genruntimeconfig.cache
7/1/obj/Debug/net7.0/1.pdb
7/1/obj/Debug/net7.0/apphost.exe
7/1/obj/Debug/net7.0/ref/1.dll
7/1/obj/Debug/net7.0/refint/1.dll
7/2/bin/Debug/net7.0/2.deps.json
7/2/bin/Debug/net7.0/2.dll
7/2/bin/Debug/net7.0/2.exe
7/2/bin/Debug/net7.0/2.pdb
7/2/bin/Debug/net7.0/2.runtimeconfig.json
7/2/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
7/2/obj/Debug/net7.0/2.AssemblyInfo.cs
7/2/obj/Debug/net7.0/2.AssemblyInfoInputs.cache
7/2/obj/Debug/net7.0/2.assets.cache
7/2/obj/Debug/net7.0/2.csproj.AssemblyReference.cache
7/2/obj/Debug/net7.0/2.csproj.CoreCompileInputs.cache
7/2/obj/Debug/net7.0/2.csproj.FileListAbsolute.txt
7/2/obj/Debug/net7.0/2.dll
7/2/obj/Debug/net7.0/2.GeneratedMSBuildEditorConfig.editorconfig
7/2/obj/Debug/net7.0/2.genruntimeconfig.cache
7/2/obj/Debug/net7.0/2.GlobalUsings.g.cs
7/2/obj/Debug/net7.0/2.pdb
7/2/obj/Debug/net7.0/apphost.exe
7/2/obj/Debug/net7.0/ref/2.dll
7/2/obj/Debug/net7.0/refint/2.dll
7/3/bin/Debug/net7.0/3.deps.json
7/3/bin/Debug/net7.0/3.dll
7/3/bin/Debug/net7.0/3.exe
7/3/bin/Debug/net7.0/3.pdb
7/3/bin/Debug/net7.0/3.runtimeconfig.json
7/3/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
7/3/obj/Debug/net7.0/3.AssemblyInfo.cs
7/3/obj/Debug/net7.0/3.AssemblyInfoInputs.cache
7/3/obj/Debug/net7.0/3.assets.cache
7/3/obj/Debug/net7.0/3.csproj.AssemblyReference.cache
7/3/obj/Debug/net7.0/3.csproj.CoreCompileInputs.cache
7/3/obj/Debug/net7.0/3.csproj.FileListAbsolute.txt
7/3/obj/Debug/net7.0/3.dll
7/3/obj/Debug/net7.0/3.GeneratedMSBuildEditorConfig.editorconfig
7/3/obj/Debug/net7.0/3.genruntimeconfig.cache
7/3/obj/Debug/net7.0/3.GlobalUsings.g.cs
7/3/obj/Debug/net7.0/3.pdb
7/3/obj/Debug/net7.0/apphost.exe
7/3/obj/Debug/net7.0/ref/3.dll
7/3/obj/Debug/net7.0/refint/3.dll
8/1/1.csproj
8/1/obj/1.csproj.nuget.dgspec.json
8/1/obj/1.csproj.nuget.g.props
8/1/obj/1.csproj.nuget.g.targets
8/1/obj/project.assets.json
8/1/obj/project.nuget.cache
8/2/2.csproj
8/2/obj/2.csproj.nuget.dgspec.json
8/2/obj/2.csproj.nuget.g.props
8/2/obj/2.csproj.nuget.g.targets
8/2/obj/project.assets.json
8/2/obj/project.nuget.cache
8/3/3.csproj
8/3/obj/3.csproj.nuget.dgspec.json
8/3/obj/3.csproj.nuget.g.props
8/3/obj/3.csproj.nuget.g.targets
8/3/obj/project.assets.json
8/3/obj/project.nuget.cache
8/4/4.csproj
8/4/obj/4.csproj.nuget.dgspec.json
8/4/obj/4.csproj.nuget.g.props
8/4/obj/4.csproj.nuget.g.targets
8/4/obj/project.assets.json
8/4/obj/project.nuget.cache
8/1/bin/Debug/net7.0/1.deps.json
8/1/bin/Debug/net7.0/1.dll
8/1/bin/Debug/net7.0/1.exe
8/1/bin/Debug/net7.0/1.pdb
8/1/bin/Debug/net7.0/1.runtimeconfig.json
8/1/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
8/1/obj/Debug/net7.0/1.AssemblyInfo.cs
8/1/obj/Debug/net7.0/1.AssemblyInfoInputs.cache
8/1/obj/Debug/net7.0/1.assets.cache
8/1/obj/Debug/net7.0/1.csproj.AssemblyReference.cache
8/1/obj/Debug/net7.0/1.csproj.CoreCompileInputs.cache
8/1/obj/Debug/net7.0/1.csproj.FileListAbsolute.txt
8/1/obj/Debug/net7.0/1.dll
8/1/obj/Debug/net7.0/1.GeneratedMSBuildEditorConfig.editorconfig
8/1/obj/Debug/net7.0/1.genruntimeconfig.cache
8/1/obj/Debug/net7.0/1.GlobalUsings.g.cs
8/1/obj/Debug/net7.0/1.pdb
8/1/obj/Debug/net7.0/apphost.exe
8/1/obj/Debug/net7.0/ref/1.dll
8/1/obj/Debug/net7.0/refint/1.dll
8/2/bin/Debug/net7.0/2.deps.json
8/2/bin/Debug/net7.0/2.dll
8/2/bin/Debug/net7.0/2.exe
8/2/bin/Debug/net7.0/2.pdb
8/2/bin/Debug/net7.0/2.runtimeconfig.json
8/2/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
8/2/obj/Debug/net7.0/2.AssemblyInfo.cs
8/2/obj/Debug/net7.0/2.AssemblyInfoInputs.cache
8/2/obj/Debug/net7.0/2.assets.cache
8/2/obj/Debug/net7.0/2.csproj.AssemblyReference.cache
8/2/obj/Debug/net7.0/2.csproj.CoreCompileInputs.cache
8/2/obj/Debug/net7.0/2.csproj.FileListAbsolute.txt
8/2/obj/Debug/net7.0/2.dll
8/2/obj/Debug/net7.0/2.GeneratedMSBuildEditorConfig.editorconfig
8/2/obj/Debug/net7.0/2.genruntimeconfig.cache
8/2/obj/Debug/net7.0/2.GlobalUsings.g.cs
8/2/obj/Debug/net7.0/2.pdb
8/2/obj/Debug/net7.0/apphost.exe
8/2/obj/Debug/net7.0/ref/2.dll
8/2/obj/Debug/net7.0/refint/2.dll
8/3/bin/Debug/net7.0/3.deps.json
8/3/bin/Debug/net7.0/3.dll
8/3/bin/Debug/net7.0/3.exe
8/3/bin/Debug/net7.0/3.pdb
8/3/bin/Debug/net7.0/3.runtimeconfig.json
8/3/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
8/3/obj/Debug/net7.0/3.AssemblyInfo.cs
8/3/obj/Debug/net7.0/3.AssemblyInfoInputs.cache
8/3/obj/Debug/net7.0/3.assets.cache
8/3/obj/Debug/net7.0/3.csproj.AssemblyReference.cache
8/3/obj/Debug/net7.0/3.csproj.CoreCompileInputs.cache
8/3/obj/Debug/net7.0/3.csproj.FileListAbsolute.txt
8/3/obj/Debug/net7.0/3.dll
8/3/obj/Debug/net7.0/3.GeneratedMSBuildEditorConfig.editorconfig
8/3/obj/Debug/net7.0/3.genruntimeconfig.cache
8/3/obj/Debug/net7.0/3.GlobalUsings.g.cs
8/3/obj/Debug/net7.0/3.pdb
8/3/obj/Debug/net7.0/apphost.exe
8/3/obj/Debug/net7.0/ref/3.dll
8/3/obj/Debug/net7.0/refint/3.dll
8/4/bin/Debug/net7.0/4.deps.json
8/4/bin/Debug/net7.0/4.dll
8/4/bin/Debug/net7.0/4.exe
8/4/bin/Debug/net7.0/4.pdb
8/4/bin/Debug/net7.0/4.runtimeconfig.json
8/4/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
8/4/obj/Debug/net7.0/4.AssemblyInfo.cs
8/4/obj/Debug/net7.0/4.AssemblyInfoInputs.cache
8/4/obj/Debug/net7.0/4.assets.cache
8/4/obj/Debug/net7.0/4.csproj.AssemblyReference.cache
8/4/obj/Debug/net7.0/4.csproj.CoreCompileInputs.cache
8/4/obj/Debug/net7.0/4.csproj.FileListAbsolute.txt
8/4/obj/Debug/net7.0/4.dll
8/4/obj/Debug/net7.0/4.GeneratedMSBuildEditorConfig.editorconfig
8/4/obj/Debug/net7.0/4.genruntimeconfig.cache
8/4/obj/Debug/net7.0/4.GlobalUsings.g.cs
8/4/obj/Debug/net7.0/4.pdb
8/4/obj/Debug/net7.0/apphost.exe
8/4/obj/Debug/net7.0/ref/4.dll
8/4/obj/Debug/net7.0/refint/4.dll
9/1/1.csproj
9/1/bin/Debug/net7.0/1.deps.json
9/1/bin/Debug/net7.0/1.dll
9/1/bin/Debug/net7.0/1.exe
9/1/bin/Debug/net7.0/1.pdb
9/1/bin/Debug/net7.0/1.runtimeconfig.json
9/1/obj/1.csproj.nuget.dgspec.json
9/1/obj/1.csproj.nuget.g.props
9/1/obj/1.csproj.nuget.g.targets
9/1/obj/project.assets.json
9/1/obj/project.nuget.cache
9/1/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
9/1/obj/Debug/net7.0/1.AssemblyInfo.cs
9/1/obj/Debug/net7.0/1.AssemblyInfoInputs.cache
9/1/obj/Debug/net7.0/1.assets.cache
9/1/obj/Debug/net7.0/1.csproj.AssemblyReference.cache
9/1/obj/Debug/net7.0/1.csproj.CoreCompileInputs.cache
9/1/obj/Debug/net7.0/1.csproj.FileListAbsolute.txt
9/1/obj/Debug/net7.0/1.dll
9/1/obj/Debug/net7.0/1.GeneratedMSBuildEditorConfig.editorconfig
9/1/obj/Debug/net7.0/1.genruntimeconfig.cache
9/1/obj/Debug/net7.0/1.GlobalUsings.g.cs
9/1/obj/Debug/net7.0/1.pdb
9/1/obj/Debug/net7.0/apphost.exe
9/1/obj/Debug/net7.0/ref/1.dll
9/1/obj/Debug/net7.0/refint/1.dll
9/2/2.csproj
9/2/obj/2.csproj.nuget.dgspec.json
9/2/obj/2.csproj.nuget.g.props
9/2/obj/2.csproj.nuget.g.targets
9/2/obj/project.assets.json
9/2/obj/project.nuget.cache
9/3/3.csproj
9/3/obj/3.csproj.nuget.dgspec.json
9/3/obj/3.csproj.nuget.g.props
9/3/obj/3.csproj.nuget.g.targets
9/3/obj/project.assets.json
9/3/obj/project.nuget.cache
9/2/bin/Debug/net7.0/2.deps.json
9/2/bin/Debug/net7.0/2.dll
9/2/bin/Debug/net7.0/2.exe
9/2/bin/Debug/net7.0/2.pdb
9/2/bin/Debug/net7.0/2.runtimeconfig.json
9/2/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
9/2/obj/Debug/net7.0/2.AssemblyInfo.cs
9/2/obj/Debug/net7.0/2.AssemblyInfoInputs.cache
9/2/obj/Debug/net7.0/2.assets.cache
9/2/obj/Debug/net7.0/2.csproj.AssemblyReference.cache
9/2/obj/Debug/net7.0/2.csproj.CoreCompileInputs.cache
9/2/obj/Debug/net7.0/2.csproj.FileListAbsolute.txt
9/2/obj/Debug/net7.0/2.dll
9/2/obj/Debug/net7.0/2.GeneratedMSBuildEditorConfig.editorconfig
9/2/obj/Debug/net7.0/2.genruntimeconfig.cache
9/2/obj/Debug/net7.0/2.GlobalUsings.g.cs
9/2/obj/Debug/net7.0/2.pdb
9/2/obj/Debug/net7.0/apphost.exe
9/2/obj/Debug/net7.0/ref/2.dll
9/2/obj/Debug/net7.0/refint/2.dll
