6/3/obj/3.csproj.nuget.dgspec.json
6/3/obj/3.csproj.nuget.g.props
6/3/obj/3.csproj.nuget.g.targets
6/3/obj/project.assets.json
6/3/obj/project.nuget.cache
6/3/3.csproj
6/2/2.csproj
6/2/obj/2.csproj.nuget.dgspec.json
6/2/obj/2.csproj.nuget.g.props
6/2/obj/2.csproj.nuget.g.targets
6/2/obj/project.assets.json
6/2/obj/project.nuget.cache
6/1/1.csproj
6/1/obj/1.csproj.nuget.dgspec.json
6/1/obj/1.csproj.nuget.g.props
6/1/obj/1.csproj.nuget.g.targets
6/1/obj/project.assets.json
6/1/obj/project.nuget.cache
.vs/Geekbrains_hw/v16/Browse.VC.db
.vs/Geekbrains_hw/v16/.suo
.vs/Geekbrains_hw/v16/ipch/AutoPCH/14a3396f15a84c04/GEEKBRAINS_HW.ipch
6/1/bin/Debug/net7.0/1.deps.json
6/1/bin/Debug/net7.0/1.dll
6/1/bin/Debug/net7.0/1.exe
6/1/bin/Debug/net7.0/1.pdb
6/1/bin/Debug/net7.0/1.runtimeconfig.json
6/1/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
6/1/obj/Debug/net7.0/1.AssemblyInfo.cs
6/1/obj/Debug/net7.0/1.AssemblyInfoInputs.cache
6/1/obj/Debug/net7.0/1.assets.cache
6/1/obj/Debug/net7.0/1.csproj.AssemblyReference.cache
6/1/obj/Debug/net7.0/1.csproj.CoreCompileInputs.cache
6/1/obj/Debug/net7.0/1.csproj.FileListAbsolute.txt
6/1/obj/Debug/net7.0/1.dll
6/1/obj/Debug/net7.0/1.GeneratedMSBuildEditorConfig.editorconfig
6/1/obj/Debug/net7.0/1.genruntimeconfig.cache
6/1/obj/Debug/net7.0/1.GlobalUsings.g.cs
6/1/obj/Debug/net7.0/1.pdb
6/1/obj/Debug/net7.0/apphost.exe
6/1/obj/Debug/net7.0/ref/1.dll
6/1/obj/Debug/net7.0/refint/1.dll
6/2/bin/Debug/net7.0/2.deps.json
6/2/bin/Debug/net7.0/2.dll
6/2/bin/Debug/net7.0/2.exe
6/2/bin/Debug/net7.0/2.pdb
6/2/bin/Debug/net7.0/2.runtimeconfig.json
6/2/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
6/2/obj/Debug/net7.0/2.AssemblyInfo.cs
6/2/obj/Debug/net7.0/2.AssemblyInfoInputs.cache
6/2/obj/Debug/net7.0/2.assets.cache
6/2/obj/Debug/net7.0/2.csproj.AssemblyReference.cache
6/2/obj/Debug/net7.0/2.csproj.CoreCompileInputs.cache
6/2/obj/Debug/net7.0/2.csproj.FileListAbsolute.txt
6/2/obj/Debug/net7.0/2.dll
6/2/obj/Debug/net7.0/2.GeneratedMSBuildEditorConfig.editorconfig
6/2/obj/Debug/net7.0/2.genruntimeconfig.cache
6/2/obj/Debug/net7.0/2.GlobalUsings.g.cs
6/2/obj/Debug/net7.0/2.pdb
6/2/obj/Debug/net7.0/apphost.exe
6/2/obj/Debug/net7.0/ref/2.dll
6/2/obj/Debug/net7.0/refint/2.dll
6/3/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
6/3/obj/Debug/net7.0/3.AssemblyInfo.cs
6/3/obj/Debug/net7.0/3.AssemblyInfoInputs.cache
6/3/obj/Debug/net7.0/3.assets.cache
6/3/obj/Debug/net7.0/3.csproj.AssemblyReference.cache
6/3/obj/Debug/net7.0/3.csproj.CoreCompileInputs.cache
6/3/obj/Debug/net7.0/3.csproj.FileListAbsolute.txt
6/3/obj/Debug/net7.0/3.GeneratedMSBuildEditorConfig.editorconfig
6/3/obj/Debug/net7.0/3.GlobalUsings.g.cs
6/3/bin/Debug/net7.0/3.deps.json
6/3/bin/Debug/net7.0/3.dll
6/3/bin/Debug/net7.0/3.exe
6/3/bin/Debug/net7.0/3.pdb
6/3/bin/Debug/net7.0/3.runtimeconfig.json
6/3/obj/Debug/net7.0/3.dll
6/3/obj/Debug/net7.0/3.genruntimeconfig.cache
6/3/obj/Debug/net7.0/3.pdb
6/3/obj/Debug/net7.0/apphost.exe
6/3/obj/Debug/net7.0/ref/3.dll
6/3/obj/Debug/net7.0/refint/3.dll
.gitignore
